* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Navigation and Hero Styles */
nav {
    padding: 10px;
}

.link-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-size: 20px;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
}

/* TL;DR Segment Links Styling */

.tldr ul li a {
    text-decoration: none;
}

section {
    margin: 20px;
}